<div class="container">
  <div class="main-container">
    <h2>管理者画面</h2>
    <div class="todays-order">
      本日の注文数
      <%= link_to "#{@orders.length}件", "", class: "count" %>
    </div>
  </div>
</div>