<div class="container">
  <div class="main-container">
    <h1>ジャンル編集画面</h1>
    <div class="genre">
      <%= render "admin/genres/form", genre: @genre, path: admin_genre_path, button_text: "変更を保存する" %>
    </div>
  </div>
</div>
