<div class="container">
  <div class="main-container">
    <div class="confirm-order">
      <div class="ordered-message">
        <span>ご購入ありがとうございました！</span>
      </div>
    </div>
  </div>
</div>

