<div class="container">
  <div class="main-container">
    <div class="public-orders">
      <h1 class="h1-primary">注文履歴一覧</h1>
      <div class="public-orders-main">
        <table class="table-primary">
          <thead>
            <tr class="tr-primary tr-header">
              <th class="th-left">注文日</th>
              <th class="th-left">配送先</th>
              <th class="th-left">注文商品</th>
              <th class="th-left">支払金額</th>
              <th class="th-left">ステータス</th>
              <th class="th-left">注文詳細</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-primary">
              <td class="td-left">注文日</td>
              <td class="td-left">配送先</td>
              <td class="td-left">注文商品</td>
              <td class="td-left">支払金額</td>
              <td class="td-left">ステータス</td>
              <td class="td-left">注文詳細</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
