/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bulma';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

th.th-center {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
th.th-left {
  text-align: left;
  vertical-align: middle;
  padding: 0 15px;
  white-space: nowrap;
}
td.td-center {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
td.td-left {
  text-align: left;
  vertical-align: middle;
  padding: 0 15px;
  white-space: nowrap;
}
td.td-right {
  text-align: right;
  vertical-align: middle;
  padding: 0 15px;
  white-space: nowrap;
}

$header_background_color: #fffacd;
$letter_color: #000000;
a, a:visited {
  color: $letter_color;
}
.header {
  height: 160px;
  background-color: $header_background_color;
  color: $letter_color;
  .logo {
    float: left;
    height: 60px;
    width: 180px;
    background-color: #ffffff;
    margin: 50px 0;
    text-align: center;
  }
  .top {
    line-height: 60px;
  }
  nav.admin-nav {
    float: right;
    position: absolute;
    top: 0px;
    right: 10px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        float: left;
        padding-left: 15px;
        margin-top: 10px;
      }
    }
    .search {
      position: relative;
      float: right;
      margin-top: 55px;
      .control {
        padding: 12px 0;
      }
    }
  }
  nav.public-nav {
    float: right;
    position: absolute;
    top: 70px;
    right: 0;
    ul {
      list-style: none;
      li {
        display: inline-block;
        float: left;
        padding-left: 30px;
      }
    }
  }
}

.container {
  width: 1024px;
  margin: 0 auto;
  .main-container {
    width: 100%;
    margin: 30px auto;
    h2 {
      font-weight: bold;
    }
    .todays-order {
      margin-top: 70px;
      .count {
        padding-left: 30px;
      }
    }
    .end_users, .end_user, .items, .new-order, .confirm-order, .admin-orders, .admin-order {
      width: 80%;
      margin: 30px auto;
    }
    .items {
      .item-add {
        float: right;
        .item-add-circle {
          background-color: #eee;
          height: 40px;
          width:  40px;
          border-radius: 50%;
          i {
            padding: 12px 13px;
          }
        }
      }
      table {
        margin-top: 10px;
        th, td {
          // padding-left: 15px;
        }
        tr {
          height: 50px;
          border-bottom: 1px solid #555;
        }
        thead {
          tr {
            background-color: #eee;
            border-top: 1px solid #555;
          }
        }
      }
    }
    .item-image-empty {
      width: 200px;
      height: 150px;
      background-color: #ddd;
      margin-bottom: 5px;
      div {
        width: 200px;
        height: 150px;
        padding: 65px 67px;
        white-space: nowrap;
      }
    }
    .item-image {
      margin: 0 30px;
    }
    .buttons {
      margin-top: auto;
      margin-left: 50px;
    }
    .item {
      display: flex;
      .item-info {
        width: 580px;
        .field {
          label {
            display: inline-block;
            width: 170px;
            vertical-align: top;
            text-align: left;
          }
          input, textarea, select {
            min-width: 300px;
            width: 300px;
            display: inline-block;
          }
          p {
            display: inline-block;
          }
        }
      }
    }
    .end_users {
      table {
        tr {
          height: 50px;
          border-bottom: 1px solid #ddd;
        }
        thead {
          tr {
            background-color: #eee;
            border-top: 1px solid #ddd;
          }
        }
      }
    }
    .public-items {
      display: flex;
      .genre-search {
        border: 1px solid #ddd;
        li {
          white-space: nowrap;
          &:first-child {
            border-bottom: 1px solid #ddd;
            padding: 3px 45px;
          }
          &:nth-child(n+2) {
            padding: 10px;
          }
        }
      }
      .public-item-list {
        margin-left: 30px;
        .public-item-container {
          display: flex;
          flex-wrap: wrap;
          .public-item {
            margin-left: 10px;
          }
        }
      }
      .public-item-item-info {
        display: flex;
      }
    }
    .genre {
      margin: 40px 10px;
      label {
        margin-right: 15px;
      }
      .input {
        width: 200px;
      }
    }
    .genres {
      table {
        width: 50%;
        tr {
          height: 50px;
          border-bottom: 1px solid #ddd;
        }
        thead {
          tr {
            background-color: #eee;
            border-top: 1px solid #ddd;
          }
        }
      }
    }
    .cart_items {
      .cart-items-header {
        display: flex;
        justify-content: space-between;
      }
      .cart-items-container {
        margin-top: 15px;
      }
      .cart-items-footer {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        table {
          width: 250px;
          th {
            width: 50%;
          }
          td {
            width: 50%;
          }
        }
      }
      .move-on-order {
        margin-top: 15px;
        display: flex;
        justify-content: center;
      }
      table {
        tr {
          height: 50px;
          border-top: 1px solid #ddd;
          &:last-child {
            border-bottom: 1px solid #ddd;
          }
          th, td {
            border-left: 1px solid #ddd;
            &:last-child {
              border-right: 1px solid #ddd;
            }
          }
          td {
            .input {
              width: 30%;
            }
            .button {
              margin-left: 15px;
            }
          }
          th {
            width: 30%;
            background-color: #eee;
          }
        }
      }
    }
    .new-order {
      .buttons {
        margin-top: 15px;
        display: flex;
        justify-content: center;
      }
      .new-order-form-pay-type, .new-order-form-address-status {
        margin-left: 30px;
      }
    }
    .confirm-order {
      .buttons {
        margin-top: 15px;
        display: flex;
        justify-content: center;
      }
      .confirm-order-cart-items {
        display: flex;
        margin-top: 15px;
        div.confirm-items {
          flex-basis: auto;
          width: 70%;
        }
        div.confirm-other {
          flex-basis: auto;
          margin-left: 5%;
          width: 25%;
        }
        table {
          tr {
            height: 50px;
            border-top: 1px solid #ddd;
            &:last-child {
              border-bottom: 1px solid #ddd;
            }
            th, td {
              border-left: 1px solid #ddd;
              &:last-child {
                border-right: 1px solid #ddd;
              }
            }
            td {
              .input {
                width: 30%;
              }
              .button {
                margin-left: 15px;
              }
            }
            th {
              width: 30%;
              background-color: #eee;
            }
          }
        }
      }
      div.confirm-order-order {
        margin-top: 15px;
      }
      .ordered-message {
        text-align: center;
      }
    }
    .new-order-header {
      display: flex;
      justify-content: space-between;
    }
    .admin-orders {
      table {
        tr {
          height: 50px;
          border-bottom: 1px solid #ddd;
        }
        thead {
          tr {
            background-color: #eee;
            border-top: 1px solid #ddd;
          }
        }
      }
    }
    .admin-order {
      div.admin-order-container {
        margin-top: 30px;
        display: flex;
        div {
          flex-basis: auto;
        }
        div.admin-order-items {
          width: 70%;
          table {
            tr {
              height: 50px;
              border-bottom: 1px solid #ddd;
            }
            thead {
              tr {
                background-color: #eee;
                border-top: 1px solid #ddd;
              }
            }
          }
        }
        div.admin-order-price {
          margin-top: auto;
          margin-left: 5%;
          width: 25%;
          tr {
            height: 30px;
          }
        }
      }
    }
    .public-addresses {
      .public-addresses-header {
        display: flex;
      }
      .public-addresses-new {
        margin-top: 30px;
        display: flex;
        div.public-addresses-new-form {
          flex-basis: auto;
          width: 70%;
        }
        div.public-addresses-new-submit {
          flex-basis: auto;
          margin-top: auto;
          width: 30%;
        }
      }
      .public-addresses-index {
        margin-top: 50px;
        table {
          width: 70%;
        }
      }
    }
    .public-orders {
      &-header {
        display: flex;
      }
      &-main {
        margin-top: 30px;
      }
      &-show {
        margin-top: 30px;
        display: flex;
        &-order {
          flex-basis: auto;
          width: 60%;
        }
        &-billing {
          flex-basis: auto;
          width: 30%;
          margin-left: 5%;
        }
      }
      &-show-order-items {
        margin-top: 30px;
      }
    }
  }
  .sign-in {
    dl {
      float: left ;
    }
    dt {
      float: left;
      clear: left;
    }
    dd {
      margin-left: 40px;
    }
  }
}

h1.h1-primary {
  background-color: #eee;
  padding: 3px 10px;
}

tr.tr-primary {
  height: 50px;
}

tr.tr-header {
  background-color: #eee;
}

table.table-primary {
  tr {
    border-top: 1px solid #ddd;
    height: 50px;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
    th, td {
      border-left: 1px solid #ddd;
      &:last-child {
        border-right: 1px solid #ddd;
      }
    }
    td {
      .input {
        width: 30%;
      }
      .button {
        margin-left: 15px;
      }
    }
    th {
      width: 30%;
      background-color: #eee;
    }
  }
}

.my-page {
  div.my-page-box {
    &:nth-child(n+2) {
      margin-top: 15px;
    }
  }
  .buttons {
    text-align: left;
    vertical-align: middle;
    height: 40px;
    span {
      display: inline-block;
      height: 40px;
      padding: 7px 0;
      font-weight: bold;
    }
    a {
      margin-left: 10px;
    }
  }
  table {
    width: 70%;
    tr {
      height: 40px;
      border-top: 1px solid #ddd;
      &:last-child {
        border-bottom: 1px solid #ddd;
      }
      th, td {
        border-left: 1px solid #ddd;
        padding-left: 4px;
        &:last-child {
          border-right: 1px solid #ddd;
        }
      }
      th {
        width: 30%;
        background-color: #eee;
      }
    }
  }
}

.end-user-withdraw {
  text-align: center;
  &-confirm {
    margin: 70px auto 30px auto;
    h1 {
      font-weight: bold;
    }
    p {
      margin-top: 30px;
    }
  }
}

#error_explanation {
  margin-bottom: 30px;
}