/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bulma';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

th.th-center {
  text-align: center;
  vertical-align: middle;
}
th.th-left {
  text-align: left;
  vertical-align: middle;
}
td.td-center {
  text-align: center;
  vertical-align: middle;
}
td.td-left {
  text-align: left;
  vertical-align: middle;
}

$header_background_color: #fffacd;
$letter_color: #000000;
.header {
  height: 160px;
  background-color: $header_background_color;
  color: $letter_color;
  a, a:visited {
    color: $letter_color;
  }
  .logo {
    float: left;
    height: 60px;
    width: 180px;
    background-color: #ffffff;
    margin: 50px 0;
    text-align: center;
  }
  .top {
    line-height: 60px;
  }
  nav.admin-nav {
    float: right;
    position: absolute;
    top: 0px;
    right: 10px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        float: left;
        padding-left: 15px;
        margin-top: 10px;
      }
    }
    .search {
      position: relative;
      float: right;
      margin-top: 55px;
      .control {
        padding: 12px 0;
      }
    }
  }
  nav.public-nav {
    float: right;
    position: absolute;
    top: 70px;
    right: 0;
    ul {
      list-style: none;
      li {
        display: inline-block;
        float: left;
        padding-left: 30px;
      }
    }
  }
}

.container {
  width: 1024px;
  margin: 0 auto;
  .main-container {
    width: 90%;
    margin: 30px auto;
    h2 {
      font-weight: bold;
    }
    .todays-order {
      margin-top: 70px;
      .count {
        padding-left: 30px;
      }
    }
    .end_users, .end_user {
      width: 80%;
      margin: 30px auto;
    }
    .end_users {
      table {
        tr {
          height: 50px;
          border-bottom: 1px solid #ddd;
        }
        thead {
          tr {
            background-color: #eee;
            border-top: 1px solid #ddd;
          }
        }
      }
    }
  }
  .sign-in {
    dl {
      float: left ;
    }
    dt {
      float: left;
      clear: left;
    }
    dd {
      margin-left: 40px;
    }
  }
}

.my-page {
  div.my-page-box {
    &:nth-child(n+2) {
      margin-top: 15px;
    }
  }
  .buttons {
    text-align: left;
    vertical-align: middle;
    height: 40px;
    span {
      display: inline-block;
      height: 40px;
      padding: 7px 0;
      font-weight: bold;
    }
    a {
      margin-left: 10px;
    }
  }
  table {
    width: 70%;
    tr {
      height: 40px;
      border-top: 1px solid #ddd;
      &:last-child {
        border-bottom: 1px solid #ddd;
      }
      th, td {
        border-left: 1px solid #ddd;
        padding-left: 4px;
        &:last-child {
          border-right: 1px solid #ddd;
        }
      }
      th {
        width: 30%;
        background-color: #eee;
      }
    }
  }
}

.end-user-withdraw {
  text-align: center;
  &-confirm {
    margin: 70px auto 30px auto;
    h1 {
      font-weight: bold;
    }
    p {
      margin-top: 30px;
    }
  }
}